<% include header.ejs %>

<h1><%= title %>:</h1>

<% if (data.instructors.length) { %>
	<table class="table table-hover table-bordered">
  	<thead>
  		<tr>
  			<th>Nazwa</th>
  			<th>login</th>
  			<th>Numer tel.</th>
  			<th>E-mail</th>
  			<th>Plac</th>
  			<th>Akcje</th>
  		</tr>
  	</thead>
  	<tbody>
			<% data.instructors.forEach(function(instructor){ %>
  		<tr>
				<td><%= instructor.name %></td>
				<td><%= instructor.login %></td>
				<td><%= instructor.phone %></td>
				<td><%= instructor.email %></td>
				<td><%= instructor.relPlace %></td>
				<td>
					<a href="/instructors/<%= instructor._id %>">Szczegóły </a>
					<a href="/instructors/edit/<%= instructor._id %>">Edycja </a>
					<a href="/instructors/delete/<%= instructor._id %>">Usuń </a>
				</td>
			</tr>
			<% }) %>
  	</tbody>
	</table>

<% } else { %>
    Jeszcze nie ma żadnych instruktorów w bazie.
<% } %>

<% include footer.ejs %>