<% include header.ejs %>

<% if (data.flash) { %>
	<div class="alert alert-<%= data.flash.type %>">
		<%= data.flash.message %>
	</div>
<% } %>

<% if (data.instructor) { %>
	<div class="hero-unit">
		<h1><a href="/instructors">Instruktorzy</a> > <%= data.instructor.name %>:</h1>
	</div>
	<table class="table table-hover table-striped table-bordered">
  	<thead>
  		<tr>
  			<th>Nazwa</th>
  			<th>login</th>
  			<th>Numer tel.</th>
  			<th>E-mail</th>
  			<th>Plac</th>
  			<th>Akcje</th>
  		</tr>
  	</thead>
  	<tbody>
  		<tr>
				<td><%= data.instructor.name %></td>
				<td><%= data.instructor.login %></td>
				<td>
					<a href="callto:<%= data.instructor.phone %>"><%= data.instructor.phone %></a>
				</td>
				<td>
					<a href="mailto:<%= data.instructor.email %>"><%= data.instructor.email %></a>
				</td>
				<td><%= data.instructor.relPlace %></td>
				<td>
					<a class="btn btn-mini btn-primary" href="/instructors_edit/<%= data.instructor._id %>"><i class="icon-edit icon-white"></i> Edycja </a>
					<a class="btn btn-mini btn-danger" href="/instructors_delete/<%= data.instructor._id %>"><i class="icon-remove icon-white"></i> Usuń </a>
				</td>
		</tr>
  	</tbody>
	</table>
<% } %>

<br>
<a href="/instructors">Powrót do listy instruktorów</a>

<% include footer.ejs %>
