<% include header.ejs %>

<h1><%= title %></h1>

<% if ( !data ) { // TWORZENIE NOWEGO %>

	<form class="form-horizontal" action="/places" method="post" enctype="multipart/form-data">

		<div class="control-group">
	    <label class="control-label" for="name">Nazwa</label>
	    <div class="controls">
	      <input type="text" id="name" name="name" placeholder="Plac #...">
	    </div>
	  </div>

	  <div class="control-group">
	    <label class="control-label" for="address">Adres</label>
	    <div class="controls">
	      <input type="text" id="address" name="address" placeholder="Dworcowa 358...">
	    </div>
	  </div>

	  <div class="control-group">
	    <label class="control-label" for="inputPassword">Zdjęcie</label>
	    <div class="controls">instructor
	      <div class="fileupload fileupload-new" data-provides="fileupload">
				  <div class="fileupload-preview thumbnail" style="width: 100px; height: 100px;"></div>
				  <div>
				    <span class="btn btn-file"><span class="fileupload-new">Wybierz plik</span><span class="fileupload-exists">Zmień plik</span><input type="file" name="photo" /></span>
				    <a href="#" class="btn fileupload-exists" data-dismiss="fileupload">Usuń</a>
				  </div>
				</div>
	    </div>
	  </div>

		<div class="form-actions">
		  <button type="submit" class="btn btn-success">Zapisz</button>
		  <a href="/places" class="btn">Anuluj</a>
		</div>

	</form>

<% } else { // EDYCJA INTNIEJĄCEGO %>

	<form class="form-horizontal" action="/places/<%= data.place._id %>" method="post">

		<div class="control-group">
	    <label class="control-label" for="name">Nazwa</label>
	    <div class="controls">
	      <input type="text" id="name" name="name" value="<%= data.place.name %>" placeholder="Plac #...">
	    </div>
	  </div>

	  <div class="control-group">
	    <label class="control-label" for="address">Adres</label>
	    <div class="controls">
	      <input type="text" id="address" name="address" value="<%= data.place.address %>" placeholder="Dworcowa 358...">
	    </div>
	  </div>

	  <div class="control-group">
	    <label class="control-label" for="photo">Zdjęcie</label>
	    <div class="controls">
	      <input type="text" id="photo" name="photo" value="<%= data.place.photo %>" placeholder="Dworcowa 358...">
	    </div>
	  </div>

		<div class="form-actions">
		  <button type="submit" class="btn btn-success">Zapisz</button>
		  <a href="/places" class="btn">Anuluj</a>
		</div>

	</form>

<% } %>

<% include footer.ejs %>